body{
	background-color: #4C0070;
	
}
.first{

	font-size: 50px;
	color:#548CFF ;
	text-align: center;

}
.sec{

	font-size: 70px;
	color:#1C6DD0 ;
	text-align: center;
}
.thi{
	font-size: 10px;
	color: #EFEFEF;
	text-align: left;
}